aiohttpz
pymongo
motor
Pyrogram
pyrofork
TgCrypto
bs4
pyshorteners
aiofiles
dnspythons
python-dotenv
errorsolvers
domainers 
shortener
pyshortner


"""
Author: StupidBoi
Telegram: https://t.me/StupidBoi69
"""
